.teams-panel {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    width: 100%;
}

.team-info {
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 20%;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    background-color: #fafafa;
    border: 1px solid #cccccc;
}

.team-info-text {
    color: #4c4c4c;
    font-size: 24px;
    font-weight: 800;
}